<!-- Footer -->
<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Contact</h3>
        <p><i class="fas fa-map-marker-alt"></i> Département de Science Économique</p>
        <p>Université Adam Barka d'Abéché</p>
        <p>BP: 1173 Abéché, Tchad</p>
        <p><i class="fas fa-envelope"></i> Email: hounaidaalibilal057@gmail.com</p>
        <p><i class="fas fa-phone"></i> Tél: +235 62 46 83 44</p>

        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-section">
        <h3 class="rapides">Liens rapides</h3>
        <ul>
          <li>
            <a href="formation"><i class="fas fa-angle-right"></i> Formations</a>
          </li>
          <li>
            <a href="a-propos"><i class="fas fa-angle-right"></i> À Propos</a>
          </li>
          <li>
            <a href="contact"><i class="fas fa-angle-right"></i> Contact</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-angle-right"></i> Bibliothèque numérique</a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 class="rapides">Ressources</h3>
        <ul>
          <li>
            <a href="#"><i class="fas fa-angle-right"></i> Supports de cours</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-angle-right"></i> Travaux dirigés</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-angle-right"></i> Calendrier accademique</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-angle-right"></i> Publications</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        &copy; 2023 Université Adam Barka d'Abéché - Département de Science Économique. Tous droits
        réservés.
      </p>
    </div>
  </div>
</footer>
