<section class="container">
  <div class="schedule-container">
    <h2>Emploi du temps</h2>
    <div class="schedule-header">
      <button (click)="refreshPage()" class="refresh-btn">
        <i class="fa-solid fa-rotate-right"></i> Actualiser
      </button>
    </div>
    <!-- 🔹 Filtres de recherche -->
    <div class="filters">
      <div class="filter-group">
        <label>Département :</label>
        <select [(ngModel)]="departementFilter" (change)="onDepartementChange()">
          <option value="">Sélectionnez un département</option>
          <option *ngFor="let dep of departements" [value]="dep._id">
            {{ dep.nom }}
          </option>
        </select>
      </div>

      <div class="filter-group">
        <label>Filière :</label>
        <select
          [(ngModel)]="filiereFilter"
          (change)="onFiliereChange()"
          [disabled]="!departementFilter"
        >
          <option value="">Sélectionnez une formation</option>
          <option *ngFor="let f of filteredFilieres" [value]="f._id">
            {{ f.nom }}
          </option>
        </select>
      </div>

      <div class="filter-group">
        <label>Niveau :</label>
        <select [(ngModel)]="niveauFilter" (change)="filterSlots()" [disabled]="!filiereFilter">
          <option value="">Tous</option>
          <option *ngFor="let n of filteredNiveaux" [value]="n">{{ n }}</option>
        </select>
      </div>
    </div>

    <table class="timetable">
      <thead>
        <tr>
          <th>Heures</th>
          <th *ngFor="let day of days">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- Message si aucun cours trouvé -->
        <tr *ngIf="filteredSlots.length === 0">
          <td [attr.colspan]="days.length + 1" class="no-courses">
            Aucun cours trouvé pour ces critères.
          </td>
        </tr>

        <!-- Boucle sur les créneaux horaires -->
        <tr *ngFor="let time of timeSlots">
          <td>{{ time }}</td>
          <td *ngFor="let day of days">
            <ng-container *ngFor="let slot of filteredSlots">
              <div
                *ngIf="getDayName(slot.start) === day && formatTime(slot.start, slot.end) === time"
                class="course {{ slot.group }}"
                [class.canceled]="slot.canceled"
                (click)="showDetails(slot)"
              >
                <strong>{{ slot.title }}</strong
                ><br />
                {{ slot.teacher.nom }} {{ slot.teacher.prenom }}
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
