<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <h2>Université Adam Barka</h2>
    <p>Panel d'Administration</p>
    <div class="admin-badge">Administrateur</div>
  </div>

  <div class="sidebar-menu">
    <div class="menu-label">Principal</div>
    <ul>
      <li class="active">
        <a routerLink="admin"><i class="fas fa-tachometer-alt"></i> Tableau de Bord</a>
      </li>
      <li><a routerLink="/admin/users"><i class="fas fa-users"></i> Gestion Utilisateurs</a></li>
      <li><a routerLink="/admin/inscriptions"><i class="fas fa-user-graduate"></i> Inscriptions</a></li>
      <li><a routerLink="formationEtudiant"><i class="fas fa-graduation-cap"></i> Formations</a></li>
    </ul>

    <div class="menu-label">Académique</div>
    <ul>
      <li><a routerLink="schedule"><i class="fas fa-calendar-alt"></i> Emplois du Temps</a></li>
      <li><a routerLink="exam"><i class="fas fa-clipboard-list"></i> Examens</a></li>
      <li><a routerLink="note"><i class="fas fa-chart-bar"></i> Notes & Résultats</a></li>
    </ul>

    <div class="menu-label">Système</div>
    <ul>
      <li><a routerLink="calendar"><i class="fas fa-calendar"></i> Calendrier accademique</a></li>
      <li><a routerLink="ressource"><i class="fas fa-folder"></i> Ressources</a></li>
      <li><a routerLink="/admin/finance"><i class="fas fa-money-bill-wave"></i> Finances</a></li>
        <li><a routerLink="/admin/settings"><i class="fas fa-cog"></i> Paramètres</a></li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="main-content">
  <!-- Header -->
  <div class="header">
    <h1>Tableau de Bord Administrateur</h1>
    <div class="header-actions">
      <!-- <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Rechercher..." />
      </div> -->
      <!-- <div class="notification-badge">
        <i class="fas fa-bell"></i>
      </div> -->
      <div class="user-info">
        <div class="user-avatar" title="Admin">AD</div>
        <div>
          <div style="font-weight: 600">Admin System</div>
          <div style="font-size: 0.8rem; color: white">Hounaida Ali</div>
        </div>  
      </div>
      <div class="logout-btn">
        <button class="btn btn-danger">
          <a href="#" class="white"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>























































































































































