<header>
  <div class="container">
    <div class="header-content">
      <div class="logo-container">
        <div class="logo"><img src="public/Imagecollée.png" alt=""></div>
        <div class="university-info">
          <div class="university-name">UNIVERSITÉ ADAM BARKA D'ABÉCHÉ</div>
          <div class="department-name">Faculté de droit et Science Économique</div>
        </div>
      </div>
      <div class="auth-buttons">
        <button id="loginBtn" (click)="openLoginModal()">
          <i class="fa-solid fa-sign-in-alt"></i>Connexion
        </button>
        <button id="registerBtn" (click)="openRegisterModal()">
          <i class="fa-solid fa-user-plus"></i>Inscription
        </button>
      </div>
    </div>
  </div>
</header>
<nav>
  <div class="container">
    <ul>
      <li>
        <a href="#" class="nav-link active" data-page="home"
          ><i class="fa-solid fa-home"></i>Accueil</a
        >
      </li>
      <li>
        <a routerLink="/a-propos" class="nav-link" data-page="about"
          ><i class="fa-solid fa-book-open"></i>À Propos</a
        >
      </li>
      <li>
        <a routerLink="/formation" class="nav-link" data-page="formations"
          ><i class="fa-solid fa-graduation-cap"></i>Formations</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="nav-link" data-page="contact"
          ><i class="fa-solid fa-envelope"></i>Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
