<header>
        <div class="container">
            <div class="header-content">
                <div class="logo-container">
                    <div class="logo">Université Adam Barka<br>Abéché</div>
                    <div class="university-info">
                        <div class="university-name">UNIVERSITÉ ADAM BARKA D'ABÉCHÉ</div>
                        <div class="department-name">Faculté de droit et Science Économique</div>
                    </div>
                </div>
                <div class="auth-buttons">
                    <button id="loginBtn" routerLink="/login"><i class="fas fa-sign-in-alt"></i>Connexion </button>
                    <button id="registerBtn" routerLink="/registre"><i class="fas fa-user-plus"></i>Inscription</button>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="#"><i class="fas fa-home"></i> Accueil</a></li>
                <li><a href="#"><i class="fas fa-graduation-cap"></i> Formations</a></li>
                <li><a href="#"><i class="fas fa-calendar-alt"></i> Emploi du temps</a></li>
                <li><a href="#"><i class="fas fa-chart-bar"></i> Notes</a></li>
                <li><a href="#"><i class="fas fa-book"></i> Ressources</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
