*{
    background-color: #fff;
}
.modal-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  font-size: 0.9rem;
  margin-top: 4px;
}

.modal-content p {
  margin: 10px 0;
}

.modal-description, .details {
  margin: 10px 0;
}

.details ul {
  padding-left: 20px;
  list-style-type: disc;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.action-btn {
  padding: 8px 16px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.action-btn:hover {
  background-color: #1565c0;
}
