<div class="modal-dialog">
  <div *ngIf="isVisible" class="modal-dialog">
  <div class="modal-content p-4 rounded">
    <div class="modal-header border-0">
      <h5 class="modal-title">
        Réinitialiser le mot de passe
      </h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>

    <div class="modal-body">
       <div class="modal-body">

      <!-- Messages globaux -->
      <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
        {{ successMessage }}
      </div>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <!-- OTP -->
        <div class="mb-3">
          <label class="form-label">Code OTP</label>
          <input type="number" class="form-control" formControlName="otp" placeholder="Entrez le code reçu" />
          <div *ngIf="resetForm.controls['otp']?.touched && resetForm.controls['otp']?.hasError('required')"
            class="text-danger mt-1">
            Le code est obligatoire
          </div>
        </div>

        <!-- Nouveau mot de passe -->
        <div class="mb-3">
          <label class="form-label">Nouveau mot de passe</label>
          <input type="password" class="form-control" formControlName="newPassword"
            placeholder="Votre nouveau mot de passe" />
          <div
            *ngIf="resetForm.controls['newPassword']?.touched && resetForm.controls['newPassword']?.hasError('required')"
            class="text-danger mt-1">
            Le mot de passe est obligatoire
          </div>
        </div>

        <!-- Token caché -->
        <input type="hidden" formControlName="otpToken" />

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">
            Réinitialiser
          </button>
        </div>
        <div class="text-center mt-3">
          <a routerLink="/login" class="back-to-login">Retour à la connexion</a>
        </div>
      </form>
    </div>
  </div>
</div>