<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-header">
    <h2>Université Adam Barka</h2>
    <p>Tableau de Bord Étudiant</p>
  </div>

  @if (isRegistered) {
  <div class="sidebar-menu">
    <ul>
      <li class="active">
        <a routerLink="#"><i class="fas fa-home"></i> <span>Tableau de Bord</span></a>
      </li>
      <li>
        <a routerLink="#"><i class="fas fa-user"></i> <span>Mon Profil</span></a>
      </li>
      <li>
        <a routerLink="scheduleEtudiant"
          ><i class="fas fa-calendar-alt"></i> <span>Emploi du Temps</span></a
        >
      </li>
      <li>
        <a routerLink="calendarEtudiant"
          ><i class="fas fa-calendar"></i> <span>Calendrier accademique</span></a
        >
      </li>
      <li>
        <a routerLink="noteEtudiant"
          ><i class="fas fa-file-alt"></i> <span>Notes & Résultats</span></a
        >
      </li>
      <li>
        <a routerLink="examEtudiant"><i class="fas fa-clipboard-list"></i> <span>Examens</span></a>
      </li>
      <li>
        <a routerLink="ressourceEtudiant"><i class="fas fa-folder"></i> <span>Ressources</span></a>
      </li>
      <li>
        <a routerLink="#"><i class="fas fa-cog"></i> <span>Paramètres</span></a>
      </li>
      <li>
        <a routerLink="#"><i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span></a>
      </li>
    </ul>
  </div>
  } @else () {
    <div>
      Inscrivez-vous pour accéder à votre dashboard.
    </div>
  }
</div>

<!-- Main Content -->
<div class="main-content">
  <div class="header">
    <h1>Tableau de Bord</h1>
    <div class="user-info">
      <img src="#" alt="AM" />
      <div>
        <div>Ahmed Mahamat</div>
        <div style="font-size: 0.8rem; color: white">Licence 2 - Droit</div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
