<div class="modal-dialog" (click)="onModalClick($event)">
  <div class="modal-content p-4 rounded">
    <div class="modal-header border-0">
      <h2 class="modal-title">Inscription</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeRegisterModal()"></button>
    </div>

    <div class="modal-body">
      <!-- Messages globaux -->
      @if (errorMessage) {
      <div class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
      </div>
      }

      @if (successMessage) {
      <div class="alert alert-success mt-3" role="alert">
        {{ successMessage }}
      </div>
      }

      <!-- Formulaire -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Prénom -->
        <div class="mb-3">
          <label class="form-label">Prénom</label>
          <input type="text" class="form-control" formControlName="firstName" placeholder="Votre prénom" />
          @if (registerForm.controls['firstName'].touched && registerForm.controls['firstName'].hasError('required')) {
          <div class="text-danger mt-1">
            Le prénom est obligatoire
          </div>
          }
        </div>

        <!-- Nom -->
        <div class="mb-3">
          <label class="form-label">Nom</label>
          <input type="text" class="form-control" formControlName="lastName" placeholder="Votre nom" />
          @if (registerForm.controls['lastName'].touched && registerForm.controls['lastName'].hasError('required')) {
          <div class="text-danger mt-1">
            Le nom est obligatoire
          </div>
          }
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Votre email" />
          @if (registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')) {
          <div class="text-danger mt-1">
            L'email est obligatoire
          </div>
          }

          @if (registerForm.controls['email'].touched && registerForm.controls['email'].hasError('email')) {
          <div class="text-danger mt-1">
            Email invalide
          </div>
          }
        </div>

        <!-- Mot de passe -->
        <div class="mb-3">
          <label class="form-label">Mot de passe</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Votre mot de passe" />
          @if (registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')) {
          <div class="text-danger mt-1">
            Le mot de passe est obligatoire
          </div>
          }
        </div>

        <!-- Rôle -->
        <div class="mb-3">
          <label class="form-label">Vous êtes</label>
          <select class="form-select" formControlName="role">
            <option value="">Sélectionnez un rôle</option>
            <option value="student">Étudiant</option>
            <option value="teacher">Enseignant</option>
            <option value="admin">Admin</option>
          </select>
          @if (registerForm.controls['role'].touched && registerForm.controls['role'].hasError('required')) {
          <div class="text-danger mt-1">
            Le rôle est obligatoire
          </div>
          }
        </div>

        <!-- Bouton -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
            S'inscrire
          </button>
        </div>
        <p class="text-center">
          Déjà un compte ?
          <a routerLink="/login" class="login-link">Se connecter</a>
        </p>
      </form>
    </div>
  </div>
</div>
