<section class="hero">
  <div class="container hero-content">
    <h1>Plateforme de Gestion de Scolarité</h1>
    <p>
      Bienvenue sur le portail numérique de Faculté de Science Économique de l'Université Adam Barka
      d'Abéché
    </p>
    <div class="cta-buttons">
      <a href="#" class="cta-button" (click)="openLoginModal()">
        <i class="fa-solid fa-user-graduate"></i> Accéder à mon espace
      </a>
      <a href="a-propos" class="cta-button secondary">
        <i class="fa-solid fa-exclamation-circle"></i> En savoir plus
      </a>
    </div>
  </div>
</section>
